* {
	padding: 0;
	margin: 0;
}
html{
	font-size: 10px;
}
body{
	font-size: 16px;
}
h1{
	color: #5c3d30;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	background-color: white ;
	padding: 15px;
}

[class*='col-'] {
	padding: 0;
	margin: 0;
}

.header {
	background-color: #5b88c2 !important;
}

.header-wrap {
	background-color: #5b88c2 !important;
}
.header__main-logo {
	max-width: 100px;
	height: 100px;
}
.header__headline {
	font-size: 	3rem;
}

.main-nav__ul {
	list-style: none;
	padding: 10px;
}	

.link-list,
.form,
.table {
	background-color: white !important;
	padding: 15px;
}

span{
	padding: 10px;
	color: #2b61a8;
}

.footer{
	margin-top: 15px;
	background-color: white !important;
}

.main-nav {
	margin-bottom: 15px;
	background-color: white !important;
}
/*.form{
	order: 1;
}*/

.Reviews {
	margin: 10px;
	padding: 5px;
	border-style:  solid;
	border-width: 2px;
}

.rev{
	margin: 5px;
	padding: 2px;
	border-style:  solid;
	border-width: 1px;
}

td, th {
	padding: 5px;
	font-size: 16px;
	font-style: italic;	
}
tr:nth-child(odd) {
	background-color: rgb(5, 2, 14) !important;
}

tr:nth-child(even) {
	background-color: green;
}
form {
	order: -1;
}


body{background:url(http://bootstraptema.ru/images/bg/bg-1.png)}

.m-b-20 {margin-bottom: 20px}
.quote {position: relative;}
.quote blockquote {
 padding: 0px;
 border: 0;
 margin: 0;
 font-size: 14px;
 font-style: italic;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -ms-border-radius: 8px;
 border-radius: 8px;
}
.quote blockquote p {
 color: #fff;
 padding-top: 25px;
 padding-bottom: 45px;
 padding-left: 30px;
 padding-right: 30px;
}
.quote blockquote:before {
 content: "";
 position: absolute;
 top: 100%;
 left: 90px;
 width: 0;
 height: 0;
 border-top: 0.83333em solid #ccc;
 border-right: 0.86667em solid transparent;
}
.quote.green blockquote {
 background-color: #32c5d2;
}
.quote.green blockquote:before {
 border-top-color: #32c5d2;
}
.quote.dark blockquote {
 background-color: #555;
}
.quote.dark blockquote:before {
 border-top-color: #555;
}
.quote-footer {
 margin: 10px 0;
}
.quote-footer .quote-author-img img {
 float: left;
 max-width: 90px;
 width: 90px;
 height: 90px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 border-radius: 50%;
 margin-left: -5px;
 margin-top: -40px;
 position: relative;
 z-index: 1;
 padding: 5px;
 background-color: #fff;
}
.quote-footer h4 {
 font-size: 14px;
 margin-bottom: 4px;
}
.quote-footer p {
 font-weight: 400;
 font-style: italic;
 font-size: 14px;
}

.title-center{
	text-align: center;
	cursor: pointer;
}

.title-center:hover{
	text-decoration: underline;
    color: #5b88c2;
}
.img-hover:hover{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);	
		box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}
.p-20{
	padding: 0px 20px;
}
.description{
	padding: 0 20px;
    text-align: center;
}